.station-table {
    margin-top: 30px;
}

.btn-icon:hover {
    color: lightblue;
}

.vertical {
    writing-mode: vertical-lr;
    text-align: end;
    vertical-align: bottom;
    padding: 5px 0px !important;
}

